html,
body {
  padding: 0;
  border: 0;

  background: beige;
  box-sizing: border-box;
  font-family: Molengo, sans-serif;
}
.wrapper {
  margin: 1.5em;
  width: 100%;
  display: grid;
}
.cat-count,
p {
  display: inline;
}
#cat-list,
.cat-name {
  /* width: 20%; */
  text-align: center;
  text-transform: uppercase;
}
img {
  margin: auto;
  width: 100%;
}
footer {
  border-top: 1px solid rgb(163, 241, 16);
  margin-top: 1em;
  padding: 1em;
  font-size: 0.85em;
  text-align: right;
}
footer > span {
  color: goldenrod;
}
