html,
body {
  padding: 0;
  border: 0;
  margin: 0;
  background: beige;
  box-sizing: border-box;
  font-family: Molengo, sans-serif;
}
.wrapper {
  margin: 2em auto;
  width: 95%;
  display: grid;
}
.listWrap {
  width: 100%;
}
.cat-count,
p {
  display: inline;
}
#cat-list,
.cat-name {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
img {
  margin: auto;
  width: 100%;
}
footer {
  border-top: 1px solid rgb(163, 241, 16);
  margin-top: 1em;
  padding: 1em;
  font-size: 0.85em;
}
.cat > img {
  margin-bottom: 0.5em;
}
a {
  text-decoration: none;
  color: #14eb43;
}
.admin-button {
  /* position: fixed;
  top: 100px;
  left: 16px; */
  font-size: 1.5em;
}
.admin {
  /* position: fixed;
  top: 160px;
  left: 16px; */
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.admin > input {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
}

.button {
  flex-grow: 1;
}

.hidden {
  display: none;
}
@media (min-width: 64em) {
  .wrapper {
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .listWrap {
    padding-top: 4em;
    width: 15%;
    align-self: flex-start;
  }
  #cat-list {
    width: 100%;
  }
  .cat {
    width: 50%;
  }

  footer {
    text-align: right;
  }
  .admin-button {
    position: fixed;
    top: 100px;
    left: 16px;
    font-size: 1.5em;
  }
  .admin {
    position: fixed;
    top: 160px;
    left: 16px;
    display: flex;
    flex-direction: column;
  }

  .admin > input {
    margin-bottom: 15px;
  }

  .buttons {
    display: flex;
  }

  .button {
    flex-grow: 1;
  }
  .hidden {
    display: none;
  }
}
